html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Georgia, serif;
    background-image: linear-gradient(white, grey);
    background-image: url("/assets/img/background.png");
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    margin-right: 5px;
    float:right;
    border-radius: 50%;
}

nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 50px;
    background-color: #9400D3;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #9400D3;
    transition: background-color 0.4s ease;
    font-weight: normal;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #66bdff;
    font-weight: bold;
}

.contactForm {
    border: 2px solid #338acc;
    height: 35px;
    width: 1000px;
    margin-top:5px;
    padding-top:10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #9400D3;
    border-radius: 4px;
}

.contactForm label {
    display: inline-block;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2em;
    float: left;
    color: white;
}


.contactForm input[type=text] {
    float:left;
}

.makeContactSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 110px;
    background-color: #9400D3;
    border-radius: 2px;
    color: white;
    text-decoration: none;
    margin-left: 25px;

}

.makeContactSubmit:link, .makeContactSubmit:visited, .makeContactSubmit:hover, .makeContactSubmit:active {
    color: white;
}

.makeContactSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}


.mainForm {
    height: 300px;
    width: 450px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 200px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.mainForm label contactRel{
    width: 150px;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #9400D3;
    border-radius: 2px;
    border-color: #800080;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

#user, #pass, #pass2, #oldpass, #namecard, #expdate, #code {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}


#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #9400D3;
}

#contactMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#contactMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 170px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
    -ms-transform: translate(-100px, 0px);
    -webkit-transform: translate(-100px, 0px); 
    transform: translate(-100px, 0px);
}

#contact {
    z-index: 225;
    margin-top: -10px;
    margin-left: 135px;
    height: 400px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
    -ms-transform: translate(-100px, 0px);
    -webkit-transform: translate(-100px, 0px); 
    transform: translate(-100px, 0px);
}

#contacts {
    width: 40%;
    min-width: 400px;
    border-color: #DA70D6;
    border-width: 2px;
    border-style: none none none solid;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.contact {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #800080;
    border-radius: 4px;
    background-color: #DA70D6;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.contact:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #D8BFD8;
}

#errortxt{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

img.contactFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 100px;
    width: 100px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

img.contactRing {
    margin-left: 25px;
    margin-right: 10px;
    padding-top: 20px;
    height: 70px;
    width: 76px;
    border-radius: 4px;
    margin-top:10px;
    float:right;
}

img.errorimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 490;
    width: 273;
}


h3.emptyContact {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.contactName {
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1em;
}

h3.contactNum {
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1em;
}

h3.contactRel {
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1em;
}

#data{
    font-weight: normal;
}


.contact:first-child {
    margin-top: 10px;
}

.contact:last-child {
    margin-bottom:10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}